header {
  margin: 20px;
}

.header_info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}
.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
}
.chart img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bolder;
  width: 150px;
  height: 40px;
}

.setting {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 30px;
}

.setting img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 10px;
}
