main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-top: 25px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  width: 60px;
  height: 60px;

  font-weight: bold;
}
